<div class-"medium-12 columns">
  <div class="medium-6 columns">
    <div class="callout primary">
      <h3>Location</h3>
      <p>
        <%= @geolocation.city %>,
        <%= @geolocation.state %>,
        <%= @geolocation.country %>
      </p>
    </div>
  </div>

  <div class="medium-6 columns">
    <div class="callout primary">
      <h3>Weather</h3>
      <p>
        <li>
        Summary: <%= @weather_data["summary"] %>
        </li>
        <li>Temperature (°F): <%= @weather_data["temperature"] %></li>
        <li>Precipitation: <%= @weather_data["precipType"].capitalize %>,
        <%= @weather_data["precipProbability"] * 100 %>% chance</li>
        <li>Wind Speed: <%= @weather_data["windSpeed"] %> mph
        </li>
      </p>
    </div>
  </div>
</div>

<div class-"medium-12 columns">
  <div class="medium-6 columns">
    <div class="callout secondary">
      <h3>Movies</h3>
      <p>
        <% @movies.each do |movie| %>
        <li>Movie: <%= movie["title"] %>
        <% movie["showtimes"].each do |showtime| %>
        <li>Theater: <%= showtime["theatre"]["name"] %></li>
        <li>Time: <%= showtime["dateTime"] %></li></li>
        <% end %>
        <% end %>
      </p>
    </div>
  </div>

  <div class="medium-6 columns">
    <div class="callout secondary">
      <h3>News</h3>
      <p>
        <%= "Gross." %>
      </p>
    </div>
  </div>
</div>
